<div class="panel panel-info">
	<div class="panel-heading">
		<b>Blog Title</b> {{blogPost.blogName}}<br> <b>Posted On: </b>
		{{blogPost.postedOn | date:'dd-MM-yyyy'}}<br> <b>Posted By:</b>
		{{blogPost.postedBy.firstname}} &nbsp; {{blogPost.postedBy.lastname}}
	</div>
	<div class="panel-body"> 
		<p ng-bind-html="content">
	</div>

	Likes : {{blogPost.likes}}<br>
	<textarea rows="3" cols="30" ng-model="commentTxt" required>


</textarea><span style="color:red">{{error}}</span><br>
	<br>
	<button class="btn btn-info" ng-click="addComment(blogPost,commentTxt)" >POST COMMENT</button>
	<br>
	
	
	<div ng-hide="blogComment==undefined">
	<b>{{blogComment.commentTxt}} &nbsp;Commented  By:- {{blogComment.commentedBy.email}} ,&nbsp;CommentedOn- {{blogComment.commentedOn | date:'dd-MM-yyyy'}} </b>
	</div>
	<br>
	<a ng-click="getBlogComments(blogPost.id)">View all Comments</a>
	<br>
	<ul style="list-style:none;"> 
	
	<li ng-repeat="blogComment in blogComments | oderBy:'-commentedOn'">
	<b>{{blogComment.commentTxt}}</b><br>
	<b>commentedBy - 
	<span ng-if="user.email!=blogComment.commentedBy.email">
	{{blogComment.commentedBy.email}} </span>
	<span ng-if="user.email==blogComment.commentedBy.email">
	You
	</span>
	commentedOn - {{blogComment.commentedOn | date:'dd-MM-yyyy'}}</b>
	</li>
	
	
	
	
	</ul>
	<a href="#/getblogs">Get ALL Blogs</a>
</div>
  