<div class="panel panel-info">
<div class="panel-heading">

Friends
</div>
<div class="panel-body">
<ul style="list-style:none;">
<li ng-repeat="friend in friendDetails"><!-- TYPE OF FRIEND IS USER TYPE IT WILL HAVE PROPERTY OF EMAIL FIRSTNAME LASTNAME PHONENUMBER -->
{{friend.email}}<br>
{{friend.firstname}} &nbsp; {{friend.lastname}}<br>
{{friend.phonenumber}}<br>
{{friend.role}}
<img src="http://localhost:8081/testMiddleware/getimage?email={{friend.email}}" alt="No Image"  height="50px" width="50px">

<hr>
</li>



</ul>



</div>
</div>