<!DOCTYPE html>

<html>
<head>
<title>MY RESPONSIVE PAGE...</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-state= 1"/>
<link type="text/css" rel="stylesheet" href="assets/hp/bootstrap.css"/>
<script src="assets/hp/jquery-3.3.1.min.js"></script>
<script src="assets/hp/bootstrap.js"></script>
</head>
<body>



<div class="container" style="margin-top:50px;" >
<div class="row jumbotron" style="margin:15px; padding: 15px;">
<div class="col-sm-8">
<h3>THIS IS MY BLOG</h3>
<p> In today’s digital age, various collaboration tools exist to help two or more people to reach a common goal. The project focuses on creating a collaboration tool that can be used by multiple people – irrespective of their geographical location. The common features you will find in collaboration sites are</p>
</div>
<div class="col-sm-4">
<img src="resources/images/Why-i-created-my-blog-2.png" class="img-responsive img-thumbnail"/>
</div>
</div>
<div class="row">
<div class="col-sm-12">

<div class="well"  style="margin:10px; padding:10px;">
<h3>WELCOME TO MY WEBSITE</h3>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-8" style="text-align:justify;">
<h3>Welcome {{user.firstname}}&nbsp;{{user.lastname}}</h3>
<p><li><a href="#/uploadprofilepic"><img src="http://localhost:8081/testMiddleware/getimage?email={{user.email}}" class="img-responsive img-thumbnail" alt="Profile Pic" align="left" vspace="5" hspace="5" width="250px"></a></li>	

Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
Itd was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently 
with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum PageMaker including versions of Lorem Ipsumtypesetting industry. 
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type 
specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in 
the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions 
of Lorem Ipsum</p>
</div>
<div class="col-sm-4">
<div class="panel panel-success">
<div class="panel-heading">
LATEST QUOTES
</div>
<div class="panel-body">
<p>
<img src="resources/images/amy.jpg" class="img-rsponsive img-thumbnail" width="100" align="left" hspace="3" vspace="3"/>
(Superheroes) can disappear for months or years and then burst back onto the scene with a climactic display of their impressive powers. Okay for superheroes, not okay for your content. It might feel boring and constraining, but publishing consistently brings results.” [tweet this]

Amy Harrison</p>
</div>
<div class="panel-body">
<p>
<img src="resources/images/seth_godin.png"" class="img-rsponsive img-thumbnail" width="100" align="left" hspace="3" vspace="3"/>
 made a decision to write for my readers, not to try to find more readers for my writing.” [tweet this]

Seth Godin </p>
</div>
<div class="panel-body">
<p>
<img src="resources/images/syed_balkhi.png" class="img-rsponsive img-thumbnail" width="100" align="left" hspace="3" vspace="3"/>
Syed Balkhi on writing efficiently:
People often ask me how am I able to write several blog posts in a day? My reply is simple: I stay in the zone. I eliminate all distractions and just write.” [tweet this]

Syed Balkhi</p>
</div> 
<div class="panel-body">
<p>
<img src="resources/images/jon_morrow.png"images/abhi2.jpg" class=" img-rsponsive img-thumbnail" width="100" align="left" hspace="3" vspace="3"/>
Jon Morrow on gaining readership:
Anyone can start a blog, but the real test is getting readers.” [tweet this]

Jon Morrow
</p>
</div>
<div class="panel-body">
<p>
<img src="resources/images/liz_strauss.png""" class=" img-rsponsive img-thumbnail" width="100" align="left" hspace="3" vspace="3"/>Liz Strauss on writing vs. blogging:
Writing is thinking out loud. Blogging is thinking out loud where other folks think back.” [tweet this]

Liz Strauss </p>
</div>


</div>
</div>
</div>

<div class="row">
<div class="col-sm-4">
<div class="panel panel-primary"> 
<div class="panel-heading">
Blog 1
</div>
<div class="panel-body bg-primary">
<img src="resources/images/blog-1.jpg" class="img-responsive" "img-thumbnail" width="200" /> 
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum </p>
</div>
</div>
</div>

<div class="col-sm-4">
<div class="panel panel-primary"> 
<div class="panel-heading">
Blog 2
</div>
<div class="panel-body bg-info">
<img src="resources/images/blog-2.jpg" class="img-responsive" "img-thumbnail" width="200"/> 
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum </p>
</div>
</div>
</div>

<div class="col-sm-4">
<div class="panel panel-primary"> 
<div class="panel-heading">
Blog 3
</div>
<div class="panel-body bg-danger">
<img src="resources/images/blog-1.jpg" class="img-responsive" "img-thumbnail" width="200"/> 
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum </p>
</div>
</div>
</div>

</div>


  












</div>

<div class="container-fluid navbar-default">
<div class="row">
<div class="col-sm-4">
<h2>ADDRESS</h2>
<p style="text-align:justify;"></p>
63,NEHRU NAGAR.LUCKNOW
</div>
<div class="col-sm-4">
<ul class="list-group" style="margin-top:20px;">
<li class="list-group-item"><a href="#">FACEBOOK</a></li>
<li class="list-group-item"><a href="#">TWITTER</a></li>
<li class="list-group-item"><a href="#">INSTAGRAM</a></li>
</ul>

</div>
<div class="col-sm-4" style="text-align:center;">
<img src="resources/images/abhi1.jpg" style="margin:10px;" class="img-circle" width="100"/><br>
<a class="btn btn-success" href="https://www.instagram.com/abhishek7731/">FOLLOW ME ON INSTAGRAM</a>
</div>
</div>
</div>







</body>
</html>