<span style="color: red">{{error.errorMsg}}</span>
<div ng-show="user.role=='ADMIN'">
	<form ng-controller="JobCtrl">

		<table>

			<tr>

				<td>Enter Job Title</td>
				<td><input type="text" ng-model="job.jobtitle"></td>
			</tr>

<tr>
			<td>Enter Job Description</td>
			<td><textarea ng-model="job.jobdescription" rows="3"></textarea></td>
		</tr>

			<td>Enter Skill Required</td>
			<td><input type="text" ng-model="job.skillrequired"></td>
			</tr>

			<td>Enter Salary</td>
			<td><input type="text" ng-model="job.salary"></td>
			</tr>

			<td>Enter Location</td>
			<td><input type="text" ng-model="job.location"></td>
			</tr>

			<tr>
				<td>Enter Years of Experience</td>
				<td><input type="text" ng-model="job.experience"></td>
			</tr>

			<tr>
				<td>Enter Company Name</td>
				<td><input type="text" ng-model="job.companyname"></td>
			</tr>

			<button ng-click="addJob(job)">Add Job</button>

		</table>

	</form>
	</div>